<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&display=swap" rel="stylesheet">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XJMET9BSRT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-XJMET9BSRT');
  </script>
  <!-- Firebase SDK -->
  <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth-compat.js"></script>
  <script>
    const firebaseConfig = {
      apiKey: "AIzaSyARBJ5vSPAZfbPSA_aBUNxo9oXiKU4TTco",
      authDomain: "nuschool-3c9d4.firebaseapp.com",
      projectId: "nuschool-3c9d4",
      storageBucket: "nuschool-3c9d4.firebasestorage.app",
      messagingSenderId: "526142689541",
      appId: "1:526142689541:web:97022175d105851d96276c"
    };
    firebase.initializeApp(firebaseConfig);
  </script>
</head>
<body>
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
</body>
</html>